doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' href='https://images.thehive-services.com/statusCodes/transparent/200.png')
        title HTTP Status Codes
    body
        header
            h1 Bee Themed HTTP Status Codes
            nav
                a(href='/') Home
        main
            h3 How to use:
            pre
                code https://httphive.com/[code].png
            div(class="row")
                each item in items
                    div(class="column")
                        a(href=`/${item.id}`) 
                            img(src=`${item.display_img}`)
        footer
            h4 Created by Melissa Longenberger using Express and Pug
            h4
                a(href='https://github.com/melissa-24/http_status_codes') Source Code