.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    .flexcolumn();

    header {
        .flexcolumn();
    }
    main {
        .flexcolumn();

        .row {
            .flexrow();
            flex-wrap: wrap;

            a {
                img {
                    max-width: 250px;
                    margin: 1em;
                }
            }
        }

        .column {
            .flexcolumn();
        }
    }
    footer {
        .flexcolumn();
    }
}